<div id='container'>

  <div class='navigation'>
  <ul>
    <li><a href='#/links' class='index'>All Links</a></li>
    <li><a href='#/shorten' class='create'>Shorten</a></li>
  </ul>
    <span ng-click='signout()' class='logout'>Logout</span>
    <!-- create logout functionality -->
  </div>
  <div>
  <form >
      <input class='text' type='text' name='url' ng-model='keywords' ng-keypress='filterLinks(link.search)'>
      <!-- onkeypress listening="checkURL" -->
  </form>
  <div class='link' ng-repeat="link in data.links | filter: keywords | orderBy:'-visits'">
    <img src='../assets/redirect_icon.png'/>
    <div class='visits'><span class='count'>{{link.visits}}</span>Visits</div>
    <div class='title'>{{link.title}}</div>
    <div class='original'>{{link.url}}</div>
    <a href='{{link.baseUrl}}/{{link.code}}'>{{link.baseUrl}}/{{link.code}}</a>
  </div>

  </div>


</div>
